# Python
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# Generated pipeline outputs
pipeline_state/logs/
pipeline_state/cache/
pipeline_state/registry/

# Media folders
photos/
organized/

# Old Scripts
scripts_old/

# Editor / OS
.vscode/
.idea/
.DS_Store
Thumbs.db